/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* HTML 5 (waiting for the real deal)
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
header, section, footer, aside, nav, article, figure
{
  display: block;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font:inherit;
  vertical-align: baseline;
}

ul, ol
{
	list-style-type:none;
}

fieldset
{
	margin:0;
	padding:0;
	border:0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
  display: block;
}

table
{ border-collapse: collapse; border-spacing: 0; }
pre, code, kbd, samp
{ font-family: 'monaco', monospace, sans-serif; }

button
{  width: auto; overflow: visible; }
.ie7 img
{ -ms-interpolation-mode: bicubic; }

/* Clearing float use : <div class="clear"><!-- Clearing floats --></div> */
.clear
{
	clear:both;
	float:none !important;
	height:0;
	line-height:0;
}

/********************************************************************************************/
/* Body
/********************************************************************************************/
body
{
	font-family:"HelveticaNeue", helvetica, arial, "Lucida Grande", Geneva, Verdana, sans-serif;
	font-size:1em;
	color:#333;
	background:#fff;
}

a
{
	color:#419BF9;
	text-decoration:none !important;
}
a:hover
{}
a:active
{
}
a:visited
{}


*:focus
{outline: none;}
*::selection
{
	background:#df3528;
	color:#fff;
}
*::-moz-selection
{
	background:#df3528;
	color:#fff;
}
*::-webkit-selection
{
	background:#df3528;
	color:#fff;
}